.perdido{
    height: 800px;
    background-image: url(../../imagenes/404.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include flex ( row,space-between,center);
    text-align: center;
    .titulos{
        h1{
            border: 0.5px solid orange;
            background-color: $FondoCrema;
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -50%);
            box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.41);
            text-decoration: none;
    }
   
    }
        
}