/* Contacto */
.contacto {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: row;

    div {
        flex-direction: row;
    }

    img {
        width: 7%;
        height: 7%;

    }
    h3{
        font-family: 'Della Respira', serif;
        text-align: center;
        color: black;
    }
    .mb-3{ 
        font-family: 'Della Respira', serif;
        text-align: center;
        color: black;
    }
}