
* {
    margin: 0;
    padding: 0;
}

 /* Header */
 header {
    position: sticky;
    top: 0px;
    background-color: #F3DEBA;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
} 

header img {
    width:75px;
}

.nav-link {
    font-family: $Tipografia;    
}

.nav-link:hover { 
    background-color: $FondoNaranja;
    border-radius: 10px;
    transition: 1s;

}
/* footers */
footer {
    background-color: #F3DEBA;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

footer ul {
    list-style-type: none;
}

/* Body */
main {
    /* background-image: url(../imagenes/fondo.jpg); */
    background-color: #ffefe3;
    background-size: cover;
} 

/* Variables Globales*/

p {
    font-family: $Tipografia;
    color: black;
}
