.titulos {

    h1 {
        font-family: 'Della Respira', serif;
        text-align: center;
        color: black;
        font-style: italic;
        text-decoration: underline;
        text-shadow: 3px 1px 4px rgba(0, 0, 0, 0.52);

    }

    h2 {
        font-family: 'Della Respira', serif;
        text-align: center;
        color: black;
        font-style: italic;
        text-decoration: underline;
        text-shadow: 3px 1px 4px rgba(0, 0, 0, 0.52);

    }

    h3 {
        font-family: 'Della Respira', serif;
        text-align: center;
        color: black;
        font-style: italic;
        text-decoration: underline;
        text-shadow: 3px 1px 4px rgba(0, 0, 0, 0.52);

    }

    p {
        font-family: 'Della Respira', serif;
        text-align: center;
        color: black;
        font-style: italic;
    }

    .presentacion{
        padding: 50px;
        
    }

}

/* Portada */
.portada {
    height: 500px;
    background-image: url(../imagenes/diseño1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
        font-family: 'Della Respira', serif;
        text-align: center;
        border: 0.5px solid orange;
        border-radius: 55%;
        background-color: #FEE8B0;
        padding: 2%;
        color: orange;
        font-style: italic;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.41);
    }

    
}
.carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
       }
       
       .carousel-control-next-icon {
         background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
       }