/* mision */

.DivpadreFlex p {
    text-align: center;
    
}
.Mision-cuerpo{
    margin: 20px;
}

.cierre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        font-family: 'Della Respira', serif;
        text-align: center;
        color: black;
        font-style: italic;
    }

}

.DivpadreFlex img{
    width: 450px;
}

.DivpadreFlex {
    display: flex;
    flex-direction: row;
    padding: 10px;
}