/* Nosotros */
.tomas {
    @include flex ( row,space-between,center);
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;

    p {
        border: 1px solid orange;
        border-style: solid;
        background-color: #F3DEBA;
    }

    img {
        width: 75%;
        border: 1px solid orange;
        border-style: solid;
        border-radius: 15%;
    }
}

.ailen {
    @extend .tomas
}