/*Variables*/
@import url('https://fonts.googleapis.com/css2?family=Della+Respira&display=swap');
$FondoCrema: #F3DEBA;
$FondoNaranja: #FEE8B0;
$Tipografia: 'Della Respira', serif;

@mixin flex ($direccion, $justify, $alinear) {
    display: flex;
    flex-direction: $direccion;
    justify-content: $justify;
    align-items: $alinear;
    }
