/* Fuentes */

@import url('https://fonts.googleapis.com/css2?family=Della+Respira&display=swap');
/* font-family: 'Della Respira', serif; */

* {
    margin: 0;
    padding: 0;
}

 /* Header */
 header {
    position: sticky;
    top: 0px;
    background-color: #F3DEBA;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
} 

header img {
    width: 25%;

}



/* pagina de inicio */
.titulos h1{
    font-family: 'Della Respira', serif;
    text-align: center;
    color: black;
    font-style: italic;
    text-decoration: underline;
}

.titulos h2{
    font-family: 'Della Respira', serif;
    text-align: center;
    color: black;
    font-style: italic;
    text-decoration: underline;
}
.titulos h3{
    font-family: 'Della Respira', serif;
    text-align: center;
    color: black;
    font-style: italic;
    text-decoration: underline;
}
.titulos p{
    font-family: 'Della Respira', serif;
    text-align: center;
    color: black;
    font-style: italic;
}

.portada {
    height: 500px;
    background-image: url(../imagenes/diseño1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.portada h1 {
    font-family: 'Della Respira', serif;
    text-align: center;
    border: 0.5px solid orange;
    border-radius: 55%;
    background-color: #FEE8B0;
    padding: 2%;
    color: orange;
    font-style: italic;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


main {
    background-image: url(../imagenes/fondo.jpg);
    background-size: cover;
}

p {
    font-family: 'Della Respira', serif;
    color: black;
}

label {
    font-family: 'Della Respira', serif;
    color: black;

}

.ultimos-proyectos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2%;
}

.ultimos-proyectos-img {
    border: 1px solid green;
    width: 25%;
    height: 25%;

}

.ultimos-proyectos img {
    border: 1px solid green;

    width: 100%;
}

/* contacto */

.contacto img {
    width: 7%;
    height: 7%;
}

.contacto div {
    flex-direction: row;
    border: 1px solid cadetblue;

}

.contacto {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: row;
}

.contacto-usuario{
    display: flex;
    align-items: start;
    justify-content: left;
}


/* sobre nosotros  */


.tomas {
    text-align: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

}

.tomas p {
    border: 1px solid orange;
    border-style: solid;
    background-color: #F3DEBA;
}

.tomas img {
    width: 75%;
    border: 1px solid orange;
    border-style: solid;
    border-radius: 15%;

}

.ailen {
    text-align: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

}

.ailen p {
    border: 1px solid orange;
    border-style: solid;
    background-color: #F3DEBA;
}

.ailen img {
    width: 75%;
    border: 1px solid orange;
    border-style: solid;
    border-radius: 15%;

}

/* mision */

.DivpadreFlex p {
    text-align: center;
}

.cierre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.DivpadreFlex {
    display: flex;
    flex-direction: row;

}


/* Proyectos */
.proyecto1, .proyecto2, .proyecto3, .proyecto4 {
    text-align: center;
    border: 1px solid orange;
    border-style: dashed;
    padding: 10px;
}

.card {
    background-color: #F3DEBA;
    text-align: center;
    border: 1px solid beige;
    border-style: dashed;
    padding: 10px;
    
}




/* footers */
footer {
    background-color: #F3DEBA;
    display: flex;
    justify-content: space-around;
}

footer img {
    width: 100px;
}

footer ul {
    list-style-type: none;
}