@import "../vcss/partials/_variables";
@import "../vcss/partials/headerFooter";
@import "../vcss/partials/index";
@import "../vcss/partials/contacto";
@import "../vcss/partials/nosotros";
@import "../vcss/partials/mision";
@import "../vcss/partials/proyectos";
@import "../vcss/partials/404";




/* Titulos */

.titulos {

    h1 {
        font-family: 'Della Respira', serif;
        text-align: center;
        color: black;
        font-style: italic;
        text-decoration: underline;
    }

    h2 {
        font-family: 'Della Respira', serif;
        text-align: center;
        color: black;
        font-style: italic;
        text-decoration: underline;
    }

    h3 {
        font-family: 'Della Respira', serif;
        text-align: center;
        color: black;
        font-style: italic;
        text-decoration: underline;
    }

    p {
        font-family: 'Della Respira', serif;
        text-align: center;
        color: black;
        font-style: italic;
    }

}

/* Portada */
.portada {
    height: 500px;
    background-image: url(../imagenes/diseño1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
        font-family: 'Della Respira', serif;
        text-align: center;
        border: 0.5px solid orange;
        border-radius: 55%;
        background-color: #FEE8B0;
        padding: 2%;
        color: orange;
        font-style: italic;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}

/* Mision */
.DivpadreFlex {
    display: flex;
    flex-direction: row;

    .img {
        width: 450px;
    }

}

/* Contacto */
.contacto {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: row;

    .div {
        flex-direction: row;
    }

    .img {
        width: 7%;
        height: 7%;

    }


}

/* Nosotros */
.tomas {
    text-align: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    p {
        border: 1px solid orange;
        border-style: solid;
        background-color: #F3DEBA;
    }

    img {
        width: 75%;
        border: 1px solid orange;
        border-style: solid;
        border-radius: 15%;
    }
}

.ailen {
    text-align: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    p {
        border: 1px solid orange;
        border-style: solid;
        background-color: #F3DEBA;
    }

    img {
        width: 75%;
        border: 1px solid orange;
        border-style: solid;
        border-radius: 15%;
    }
}